.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  h1 {
    font-size: 2rem;
    margin-bottom: 0.4rem;
  }
  p {
    font-size: 1.1rem;
    color: #444;
    margin-top: 0.2rem;
  }
}
